@charset "UTF-8";

/* normalizacões globais */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

[data-aos] {
    overflow-x: hidden !important;
    transform: none !important;
}

section:not(:first-of-type) {
    text-align: center;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

section {
    min-height: 80vh;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::before, ::after {
    box-sizing: border-box;
}

.section-title {
    color: black;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
}

.default-button.disable-hover {
    pointer-events: auto;
    background-color: var(--plum);
    color: black;
    box-shadow: none;
    transform: none;
    transition: none;
}

.default-button.disable-hover:hover {
    background-color: var(--plum);
    color: black;
    box-shadow: none;
    transform: none;
}
