@charset "UTF-8";

/* variáveis */

:root {
    /* palheta de cores */
    --thistle: #cab4d9;
    --plum: rgb(194, 145, 242, 1);
    --mediumPurple: rgb(174, 126, 242);
    --royalBlue: rgb(4, 75, 217, 1);
    --floralWhite: #f2efeb;

    /* sobreposição das cores do bootstrap */
    --bs-primary: var(--thistle);
    --bs-secondary: var(--plum);
    --bs-success: var(--mediumPurple);
    --bs-info: var(--royalBlue);
    --bs-warning: var(--floralWhite);
}