@charset "UTF-8";

/* about */

.about {
    margin: 0 auto;
    padding: 1rem;
    height: auto;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--thistle);
}

.about .section-title {
    margin-bottom: 3rem;
    margin-top: 0;
}

.tech-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.tech-item {
    flex: 1 1 15%;
    text-align: center;
    margin: 10px;
}

.icon-wrapper {
    display: inline-block;
    transition: transform 0.4s ease-in-out;
}

.icon-wrapper:hover {
    transform: scale(1.04);
}

.about .devicon-i {
    color: black;
    font-size: 5rem;
    transition: transform 0.4s ease-in-out, filter 0.3s ease-in-out;
}

.about .devicon-i:hover {
    transform: scale(1.04);
    filter: drop-shadow(1px 1px 0 var(--royalBlue));
}

.tech-name {
    opacity: 0;
    transform: translateY(-10px);
    font-size: 1rem;
    font-weight: 650;
    color: black;
    margin: 0.5rem auto;
    height: 1rem;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.tech-item:hover .tech-name {
    opacity: 1;
    transform: translateY(0);
}

.about-text-content {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.about .about-emphasis {
    color: var(--mediumPurple);
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem;
}

.about-description-text {
    color: black;
    font-size: 1.2rem;
    font-weight: 425;
    margin-bottom: 0.5rem;
    text-align: center;
}

.about-soft-skills-container li {
    font-size: 1.2rem;
    font-weight: 425;
    width: 100%;
    color: black;
    text-align: left;
}

.about-soft-skills {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.about-soft-skills ul {
    padding: 1rem;
    margin: 0.4rem;
}

.about-soft-skills i {
    color: var(--royalBlue);
}

@media (max-width: 991px) {
    .about {
        height: auto;
        flex-direction: column;
        padding: 1rem;
    }

    .about-title {
        font-size: 1.8rem;
        margin: 1rem 0;
    }

    .tech-container {
        gap: 0.5rem;
    }

    .tech-item {
        flex: 1 1 calc(33.333% - 1rem);
        max-width: calc(33.333% - 1rem);
        margin: 5px;
    }

    .about .devicon-i {
        font-size: 3.3rem;
    }

    .tech-name {
        font-size: 0.9rem;
    }

    .about-text-content {
        margin-top: 1rem;
    }

    .about-soft-skills {
        gap: 1rem;
    }
}

@media (max-width: 575px) {
    .tech-container>* {
        display: none;
    }

    .about-soft-skills {
        gap: 0;
    }
}

@media (max-width: 526px) {
    .about-soft-skills {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .tech-item {
        flex: 1 1 calc(50% - 0.5rem);
        max-width: calc(50% - 0.5rem);
    }

    .about .devicon-i {
        font-size: 2.5rem;
    }

    .tech-name {
        font-size: 0.8rem;
    }
}

@media (max-width: 375px) {
    .about .section-title {
        font-size: 2rem;
        margin-top: 0.3rem;
    }

    .about-text-content {
        margin-top: 0.5rem;
    }
}