@charset "UTF-8";

/* about */

.about {
    margin: 0;
    padding: 0;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-title {
    color: black;
    font-size: 3.3rem;
    font-weight: 650;
    padding: 0;
    text-align: center;
}

.tech-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.tech-item {
    flex: 1 1 15%;
    text-align: center;
    margin: 10px;
}

.icon-wrapper {
    display: inline-block;
    transition: transform 0.4s ease-in-out;
}

.icon-wrapper:hover {
    transform: scale(1.04);
}

.about .devicon-i {
    color: black;
    font-size: 5rem;
    transition: transform 0.4s ease-in-out, filter 0.3s ease-in-out;
}

.about .devicon-i:hover {
    transform: scale(1.04);
    filter: drop-shadow(2px 2px 0 var(--mediumPurple));
}

.tech-name {
    opacity: 0;
    transform: translateY(-10px);
    font-size: 1rem;
    font-weight: 650;
    color: black;
    margin: 0.5rem auto;
    height: 1rem;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.tech-item:hover .tech-name {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 767px) {
    .about {
        height: auto;
    }

    .about-title {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .tech-container {
        gap: 0.5rem;
    }

    .tech-item {
        flex: 1 1 30%;
        margin: 5px;
    }

    .about .devicon-i {
        font-size: 3.5rem;
    }

    .tech-name {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-description {
        font-size: 0.9rem;
    }
}
