@charset "UTF-8";

/* contact */

.contact {
    margin: 0 auto;
    padding: 1rem;
    height: auto;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--floralWhite);
    background-image: url(../../../../static/svgs/index/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.contact .section-title {
    margin-bottom: 3rem;
    margin-top: 0;
}

.contact-left-content {
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-emphasis {
    color: var(--mediumPurple);
    font-size: 2rem;
    font-weight: 700;
}

.contact-left-text {
    color: black;
    font-size: 1.2rem;
    font-weight: 550;
    margin: 0.5rem;
    text-align: center;
}

.contact-list {
    color: black;
    font-size: 1.2rem;
    font-weight: 425;
    margin: 0.5rem;
    text-align: center;
}

.contact-list i {
    color: var(--mediumPurple);
    font-size: 1.5rem;
    margin: 0.2rem;
}

.contact-list span {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.social-media-list i {
    color: var(--plum);
    font-size: 1.6rem;
    transition: all 0.3s ease-in-out;
    padding: 0.5rem;
}

.social-media-list i:hover {
    color: var(--mediumPurple);
    filter: drop-shadow(0 0 .1px var(--royalBlue));
}

.contact-form {
    font-size: 1rem;
    font-weight: 500;
    padding: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--thistle);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-form label {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.5rem;
    text-align: left;
}

.contact-form input {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem;
    padding: 0.3rem;
    width: 100%;
    border-radius: 5px;
}

.form-control:focus {
    border: 1px solid var(--mediumPurple) !important;
    box-shadow: none !important;
}

.contact-form textarea {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem;
    padding: 0.3rem;
    width: 100%;
    border-radius: 5px;
}

.contact-form .default-button {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5rem;
    margin: 1rem 0;
    width: 100%;
    border-radius: 5px;
    background-color: var(--plum);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.contact-form .default-button:hover {
    box-shadow: 2px 2px 0 var(--royalBlue);
    transform: scale(1.05);
}

.contact-form .default-button:active {
    transform: scale(1.0);
    background-color: var(--mediumPurple);
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.contact-form .default-button.clicked {
    transform: scale(1.01);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
}
