@charset "UTF-8";

/* hero */

.hero {
    margin: 0;
    padding: 0;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--thistle);
}

.hero-title {
    color: black;
    font-size: 3.3rem;
    font-weight: 650;
    padding: 0;
}

.hero-subtitle {
    color: black;
    font-size: 2.3rem;
    font-weight: 550;
    padding: 0;
    margin: 0.5rem 0 0.5rem 0; 
}

.hero-description {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0;
    margin: 0.5rem 0 0.5rem 0; 
}

.hero-container-button-cv {
    margin-top: 0.7rem;
    transition: all 0.3s ease-in-out;
}

.hero-btn-container .hero-btn-a {
    padding: 0.5rem;
    background-color: var(--plum);
    color: black;
    text-decoration: none;
    font-weight: 475;
    border-radius: 5px;
    text-align: center;
    width: auto;
    min-width: 150px;
    transition: all 0.3s ease-in-out;
}

.hero-btn-container .hero-btn-a:hover {
    background-color: var(--mediumPurple);
    color: white;
    box-shadow: 2px 2px 0 var(--royalBlue);
    transform: scale(1.05);
}

.hero-btn-container .hero-btn-a:active {
    transform: scale(1.0);
    background-color: var(--mediumPurple);
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.hero-btn-container .hero-btn-a.clicked {
    transform: scale(1.5);
    background-color: var(--floralWhite);
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

#particles-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#particlesJS {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
}