@charset "UTF-8";

/* hero */

.hero {
    margin: 0;
    padding: 0;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--thistle);
}

.hero-subtitle {
    color: black;
    font-size: 2.3rem;
    font-weight: 550;
    padding: 0;
    margin: 0.5rem 0 0.5rem 0; 
    text-align: center;
}

.hero-description {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0;
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
}

.hero-container-button-cv {
    margin-top: 0.7rem;
    transition: all 0.3s ease-in-out;
}

.hero-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.hero-btn-container .hero-btn-a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5rem;
    background-color: var(--plum);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.hero-btn-container .hero-btn-a:hover {
    background-color: var(--mediumPurple);
    color: white;
    box-shadow: 2px 2px 0 var(--royalBlue);
    transform: scale(1.05);
}

.hero-btn-container .hero-btn-a:active {
    transform: scale(1.0);
    background-color: var(--mediumPurple);
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.hero-btn-container .hero-btn-a.clicked {
    transform: scale(1.5);
    background-color: var(--floralWhite);
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

#particles-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#particlesJS {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
}

@media (max-width: 1399px) {
    .hero-description {
        margin-bottom: 0.5rem;
    }
    
    .hero-btn-a {
        width: auto;
    }
}

@media (max-width: 992px) {
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-left-content {
        text-align: center;
        margin-bottom: 2rem;
    }

    .hero-description {
        font-size: 1rem;
    }

    .hero-btn-a {
        width: auto;
        margin-bottom: 0 0.5rem;
    }

    .hero-text-container {
        margin-top: 2rem;
    }

    .particles-container {
        margin-top: 2rem;
    }
}

@media (max-width: 576px) {
    .hero-left-content .hero-title {
        font-size: 2.2rem;
    }

    .hero-left-content .hero-subtitle {
        font-size: 1.8rem;
    }

    .hero-left-content .hero-description {
        font-size: 0.9rem;
    }

    .hero-btn-a {
        width: auto;
        margin-bottom: 5rem;
    }

    #particles-container {
        margin-top: 1.5rem;
    }
}

@media (max-width: 366px) {
    .hero-btn-a {
        width: auto;
        margin-bottom: 0.5rem;
    }
}