@charset "UTF-8";

/* projects */

.projects {
    margin: 0 auto;
    padding: 1rem;
    height: auto;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--thistle);
}

.projects .section-title {
    margin-bottom: 3rem;
    margin-top: 0;
}

.projects .card {
    padding: 1rem;
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
    min-height: 325px;
    gap: 1rem;
    background-color: var(--plum);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.projects .card:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 0 var(--mediumPurple);
}

.projects .card-img {
    width: 425px;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
}

.projects .card .card-title {
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0;
    margin: 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
}

.projects .card .card-text {
    color: black;
    font-size: 1.2rem;
    font-weight: 450;
    margin-bottom: 0.5rem;
    text-align: center;
}

.projects .default-button {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 5px;
    background-color: var(--floralWhite);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.projects .default-button:hover {
    box-shadow: 2px 2px 0 var(--royalBlue);
    transform: scale(1.05);
}

.projects .default-button:active {
    transform: scale(1.0);
    box-shadow: none;
    background-color: var(--mediumPurple);
    transition: all 0.3s ease-in-out;
}

.projects .default-button.clicked {
    transform: scale(1.5);
    background-color: var(--floralWhite);
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 991px) {
    .projects .card-img {
        width: 325px;
        height: auto;
    }

    .projects .card .card-title {
        font-size: 1.5rem;
    }

    .projects .card .card-text {
        font-size: 1rem;
        font-weight: 425;
    }

    .projects .default-button {
        font-weight: 1rem;
        font-weight: 550;
        margin: 0;
    }
}